footer {
    background: #dcdcdc;
    padding: 100px 0;
    width: 100%;
    margin-top: 50px;
}
footer .container {
    flex-wrap: wrap;
}

footer .container .divider-div {
    width: 100%;
}

footer .container .image-and-text img {
    filter: invert(100%);
} 

footer .container .image-and-text p {
    color: #000;
}

footer .container .image-and-text {
    width: 25%;
}

footer .container .image-and-text .social-media {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    margin-top: 50px;
}

footer .container .image-and-text .social-media img {
    filter: invert(0%);
}

footer .container .footer-list ul {
    list-style: none;
}