.simple-card {
    padding: 30px;
    background: #dcdcdc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-width: 450px;
    justify-content: space-between;
    margin: 10px;
    box-shadow: 2px 4px 12px #00000014;
    cursor: pointer;
    transition: 0.3s;
}

.simple-card:hover {
    transform: scale(1.03);
}

.simple-card p {
    font-size: 1rem;
    color: #000;
    margin-left: 2rem;
    font-weight: 500;
}

.simple-card .img-div {
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.simple-card .img-div img {
    filter: invert(100%);
    width: 40px !important;
}